---
import { Image } from 'astro:assets';
import imgPc from '../../assets/image-computer.png';
---

<section class="container">
    <h2>Keep track of your snippets</h2>
    <p class="main-paragraph">
        Clipboard instantly stores any item you copy in the cloud, meaning you
        can access your snippets immediately on all your devices. Our Mac and
        iOS apps will help you organize everything.
    </p>
    <div class="wrap-content">
        <div class="wrap-img">
            <Image src={imgPc} alt="image of a computer" />
        </div>
        <div class="wrap-text">
            <div class="flex-column">
                <article>
                    <h3>Quick Search</h3>
                    <p>
                        Easily search your snippets by content, category, web
                        address, application, and more.
                    </p>
                </article>
                <article>
                    <h3>iCloud Sync</h3>
                    <p>
                        Instantly saves and syncs snippets across all your
                        devices.
                    </p>
                </article>
                <article>
                    <h3>Complete History</h3>
                    <p>
                        Retrieve any snippets from the first moment you started
                        using the app.
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        text-align: center;
        margin-block: 10rem;
    }

    .flex-column {
        gap: 3rem;
    }

    .wrap-content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    h2,
    h3 {
        color: var(--dark-grayish-blue);
    }

    h2 {
        font-size: 2rem;
    }

    p {
        color: var(--grayish-blue);
    }

    .main-paragraph {
        margin: 1rem 0 4rem 0;
    }

    h2,
    .main-paragraph {
        max-width: 680px;
        margin-inline: auto;
    }

    img {
        height: 100%;
    }

    @media (min-width: 768px) {
        .wrap-content {
            display: flex;
            flex-direction: row;
            gap: 0rem;
            align-items: center;
            text-align: start;
            overflow-x: visible;
            margin-top: 10rem;
        }

        img {
            scale: 170%;
            transform-origin: right;
        }

        .wrap-text {
            margin-left: 5rem;
        }
    }

    @media (min-width: 768px) {
        .wrap-content {
            margin-block: 12rem 15rem;
        }
    }
</style>
