---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
import SocialIcon from './SocialIcon.astro';
---

<footer>
    <div class="container">
        <div class="grid">
            <div class="icon">
                <Image src={logo} alt="logo icon" />
            </div>
            <div class="links-items">
                <div class="wrap-links">
                    <a href="#">FAQs</a>
                    <a href="#">Contact Us</a>
                </div>
                <div class="wrap-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Press Kit</a>
                </div>
                <div class="wrap-links">
                    <a href="#">Install Guide</a>
                </div>
            </div>
            <SocialIcon />
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: hsl(200, 23%, 95%);
        padding-block: 3rem;
        text-align: center;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .icon {
        margin-bottom: 2rem;
    }
    .icon img {
        width: 60px;
        height: 60px;
    }

    .icon img:hover {
        color: var(--strong-cyan);
    }

    .wrap-links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .wrap-links a {
        color: var(--dark-grayish-blue);
        font-weight: 700;
        transition: color 200ms ease-in-out;
    }

    .wrap-links a:hover {
        color: var(--strong-cyan);
    }

    @media (min-width: 768px) {
        .grid {
            flex-direction: row;
            align-items: center;
            text-align: start;
            justify-content: space-around;
        }

        .icon,
        aside {
            margin: 0;
        }

        .links-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem;
        }
    }
</style>
