---
import SectionOne from './section-1/SectionOne.astro';
import SectionTwo from './section-2/SectionTwo.astro';
import SectionThree from './section-3/SectionThree.astro';
---

<main>
    <SectionOne />
    <SectionTwo />
    <SectionThree />
</main>
